@import "settings";

#acmodal__overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .6);
    z-index: 100;

    #acmodal__modal {
        width: 500px;
        height: auto;
        background-color: $white;
        border-radius: 10px;
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -60%);

        #acmodal__modal__title, #acmodal__modal__message, #acmodal__modal__actions {
            display: block;
            width: 100%;
            margin: 0;
            padding: 1rem;
            box-sizing: border-box;
            color: $color-primary;
        }

        #acmodal__modal__title {
            border-bottom: 1px solid $light-grey;
        }

        #acmodal__modal__message {
            min-height: 70px;
        }

        #acmodal__modal__actions {
            text-align: right;

            .acmodal__button {
                padding: .5rem .8rem;
                border: 2px solid $color-primary;
                font-size: 1rem;
                border-radius: 5px;
                color: $color-primary;
                margin: 0 .5rem;
                cursor: pointer;
                transition: .2s;

                &.acmodal__button__primary {
                    background-color: $color-primary;
                    color: $white;

                    &:hover {
                        opacity: .8;
                    }
                }

                &.acmodal__button__secondary:hover {
                    background-color: $light-grey;
                }
            }
        }
    }
}