@import "settings";

#acmodal__overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .6);
    z-index: 100;

    #acmodal__modal {
        height: auto;
        background-color: $white;
        border-radius: 10px;
        position: fixed;

        @media screen and (max-width: 599px) {
            width: 96%;
            right: 2%;
            bottom: 10px;

        }

        @media screen and (min-width: 599px) {
            left: 50%;
            top: 50%;
            transform: translate(-50%, -60%);
            width: 500px;
        }

        #acmodal__modal__title, #acmodal__modal__message, #acmodal__modal__actions {
            display: block;
            width: 100%;
            margin: 0;
            padding: 1rem;
            box-sizing: border-box;
            color: $color-primary;
        }

        #acmodal__modal__title {
            border-bottom: 1px solid $light-grey;
        }

        #acmodal__modal__message {
            min-height: 70px;
            font-size: 1.1rem;
        }

        #acmodal__modal__actions {
            text-align: right;

            @media screen and (max-width: 599px) {
                text-align: center;
            }

            .acmodal__button {
                padding: .5rem .8rem;
                border: 2px solid $color-primary;
                font-size: 1rem;
                border-radius: 5px;
                color: $color-primary;
                margin: 0 .5rem;
                cursor: pointer;
                transition: .2s;


                @media screen and (max-width: 599px) {
                    width: 90%;
                    margin: .5rem 0;
                }


                @media screen and (min-width: 599px) {
                    &.acmodal__button__secondary:hover {
                        background-color: $light-grey;
                    }
                    &.acmodal__button__primary:hover {
                        opacity: .8;
                    }
                }

                &.acmodal__button__primary {
                    background-color: $color-primary;
                    color: $white;
                }

                &.acmodal__button__secondary {
                    background-color: $white;
                }
            }
        }
    }
}